<h1>
    Encontramos lo<br> que buscas
</h1>


<div class="w-100 bloque-resultados d-flex flex-wrap">
    <div class="w-100">
        <h2>Lyon 2550,<span>Providencia</span>
        </h2>
    </div>
    <div class="col-6 p-0 imagen">
        <img class="img-fluid" src="assets/img/img-resultado.jpg" alt="depto">
    </div>
    <div class="col-6 p-0">
        <ul>
            <li><span>valor:</span> 9445 UF</li>
            <li><span>M2 utilizables:</span> 55
            </li>
            <li><span>M2 totales:</span> 130</li>
            <li><span>Baños:</span> 1</li>
            <li><span>Dormitorios:</span> 2</li>
        </ul>
    </div>


    <div class="botones w-100 d-flex justify-content-center flex-wrap">
        <label for="direccion">¿Deseas buscar otra propiedad?</label>
        <button [routerLink]="['home']" class="boton-base">
            Vamos ›
        </button>
    </div>
</div>